body{
    margin: 10;
    padding: 10;
    text-align: center;
    text-decoration-color: azure;
}

h1{
    padding-top: 4em;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    color: #333; /* Default text color */
    font-size: 18px; /* Default font size */
    margin-bottom: 10px;
}
section{
    text-align: center;
}

p{
    margin: 2em 0;
}

img{
    width: 40em;
    max-width: 90%;
}

body {
    /* background-image: url("assets/images/ai2.gif"); */
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
    background-color: rgb(247, 252, 255);
}
/* CSS for bio section */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px; /* Adjust as needed */
    border-radius: 50%; /* to make the image round */
    margin-right: 20px;
}

.bio p {
    font-size: 16px;
    line-height: 1.5;
}