body{
    margin: 10;
    padding: 10;
    text-align: center;
    text-decoration-color: azure;
}

h1{
    padding-top: 4em;

}
section{
    text-align: center;
}

p{
    margin: 2em 0;
}

img{
    width: 40em;
    max-width: 90%;
}

body {
    /* background-image: url("assets/images/ai2.gif"); */
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
    background-color: azure;
}